* {
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: #f8f9fa;
}

a {
  text-decoration: none;
  color: #ffffff;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: flex;
  align-items: center;

}

.logo {
  background-image: url('./vibe-logo.png');
  background-size: cover;
  height: 5rem;
  width: 6rem;
  margin-left: 1rem;
}

.tracks{
  display: flex;
  flex-direction: column;
  align-items: flex;
  justify-content: flex-start;
}

#container{
  display: flex;
}